In [3]:
!pip install -q kaggle

In [5]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"alihdulaimi","key":"dcebfb35305d0f624a7bf835867c2080"}'}

In [6]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

kaggle.json

In [11]:
!kaggle datasets download -d shivamb/netflix-shows -p data

Downloading netflix-shows.zip to data
  0% 0.00/1.18M [00:00<?, ?B/s]
100% 1.18M/1.18M [00:00<00:00, 75.7MB/s]

In [12]:
!unzip data/netflix-shows.zip -d data

Archive:  data/netflix-shows.zip
  inflating: data/netflix_titles.csv

### EDA

In [15]:
!pip install -q plotly

In [16]:
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import matplotlib.pyplot as plt

import seaborn as sns
from pandas_profiling import ProfileReport

In [18]:
df = pd.read_csv("./data/netflix_titles.csv")
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [19]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [20]:
df = df[['show_id', 'type', 'title', 'rating', 'listed_in', 'description']]

In [21]:
df.head(10)

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...
5      s6  ...  A genetics professor experiments with a treatm...
6      s7  ...  After an awful accident, a couple admitted to ...
7      s8  ...  After one of his high school students attacks ...
8      s9  ...  When a doctor goes missing, his psychiatrist w...
9     s10  ...  An architect and his wife move into a castle t...

[10 rows x 6 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   show_id      7787 non-null   object
 1   type         7787 non-null   object
 2   title        7787 non-null   object
 3   rating       7780 non-null   object
 4   listed_in    7787 non-null   object
 5   description  7787 non-null   object
dtypes: object(6)
memory usage: 365.1+ KB

In [23]:
df.nunique()

show_id        7787
type              2
title          7787
rating           14
listed_in       492
description    7769
dtype: int64

In [24]:
df.isna().sum()

show_id        0
type           0
title          0
rating         7
listed_in      0
description    0
dtype: int64

In [25]:
df['rating'].unique()

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G', 'TV-Y', nan,
       'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

In [28]:
df[df['rating'].isna()] # 7 of them are nan

     show_id  ...                                        description
67       s68  ...  Oprah Winfrey sits down with director Ava DuVe...
2359   s2360  ...  After falling through a wormhole, a space-dwel...
3660   s3661  ...  Adopting a child's perspective, this show take...
3736   s3737  ...  Louis C.K. muses on religion, eternal love, gi...
3737   s3738  ...  Emmy-winning comedy writer Louis C.K. brings h...
3738   s3739  ...  The comic puts his trademark hilarious/thought...
4323   s4324  ...  Amid the chaos and horror of World War II, a c...

[7 rows x 6 columns]

In [29]:
df = df[df['rating'].notna()]

In [30]:
len(df)

7780

In [31]:
df.dtypes

show_id        object
type           object
title          object
rating         object
listed_in      object
description    object
dtype: object

In [32]:
df['type'] = pd.Categorical(df['type'])

In [33]:
df['rating'] = pd.Categorical(df['rating'])

In [34]:
df.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 6 columns]

In [36]:
df.dtypes

show_id          object
type           category
title            object
rating         category
listed_in        object
description      object
dtype: object

In [37]:
df['genre'] = df['listed_in'].apply(lambda x :  x.replace(' ,',',').replace(', ',',').split(','))

In [38]:
df.head()

  show_id  ...                                              genre
0      s1  ...  [International TV Shows, TV Dramas, TV Sci-Fi ...
1      s2  ...                     [Dramas, International Movies]
2      s3  ...              [Horror Movies, International Movies]
3      s4  ...  [Action & Adventure, Independent Movies, Sci-F...
4      s5  ...                                           [Dramas]

[5 rows x 7 columns]